

.App {
  text-align: center;
  margin-bottom: 50px;
}

.logo{
  width: auto;
  height: 25px;
}

.top-menu{
  position: fixed;
  background-color: white;
  z-index: 100;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header .top-menu span{
  font-weight: bold;
  font-size: 14px;
}

.hero-players{
  position: relative;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  background-image: url("/img/camp_nou.jpg");
  background-position: 50%;
  background-size: cover;
}

.hero-players span{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.hero-players span:nth-of-type(2){
  font-size: 80px;
}

/* PLAYER LIST */
.player-list{
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: scroll;
  height: 450px;
}

/* PLAYER ITEM */
.player-item{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid lightgrey;
}

.player-item p{
  width: 200px;
  text-align: left;
  color: #909090;
}

.player-item p:first-of-type{
  color: black;
  font-weight: bold;
}

.player-item .crest-wrapper{
  border-radius: 50%;
  border: 1px solid black;
  padding: 8px;
  margin-left: 25px;
}

.player-teamcrest{
  width: 25px;
  height: 25px;
}

.sort-label{
  text-transform: uppercase;
  color: #909090;
}

.player-sorters-wrapper{
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
}

.player-sorters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px 10px 100px;
}

.player-sorter-cont{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 200px;
  height: 100%;
}

.player-sorter-cont .sort-label{
  padding-right: 10px;
}

.player-sorter-asc{
  border-color: #000000 transparent;
  border-style: solid;
  border-width: 10px 6px 0px 6px;
  width: 0;
  height: 0;
  margin: 2px;
}

.player-sorter-desc{
  border-color: #000000 transparent;
  border-style: solid;
  border-width: 0px 6px 10px 6px;
  width: 0;
  height: 0;
  margin: 2px;
}

.player-sorter-inactive{
  border-color: #909090 transparent;
}

.player-sorter-desc:hover, .player-sorter-asc:hover{
  cursor: pointer;
  border-color: red transparent;
}

.player-sorter-inactive:hover{
  cursor: pointer;
}
