

.App {
  text-align: center;
}

.logo{
  width: auto;
  height: 25px;
}

.top-menu{
  position: fixed;
  background-color: white;
  z-index: 100;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header .top-menu span{
  font-weight: bold;
  font-size: 14px;
}

.hero-players{
  position: relative;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(50vh - 77px);
  background-image: url("/img/camp_nou.jpg");
  background-position: 50%;
  background-size: cover;
}

.hero-players span{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.hero-players span:nth-of-type(2){
  font-size: 60px;
}

/* PLAYER LIST */
.player-list{
  max-width: 1200px;
  margin: 0 auto;
  height: calc(50vh);
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: inset 0 0 2px #000000;
}

/* PLAYER ITEM */
.player-item{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border: 1px solid lightgrey;
}

.player-item p{
  width: 200px;
  text-align: left;
  color: #909090;
}

.player-item p:first-of-type{
  color: black;
  font-weight: bold;
}

.player-item .crest-wrapper{
  border-radius: 50%;
  border: 1px solid black;
  padding: 8px;
  margin-left: 25px;
}

.player-teamcrest{
  width: 25px;
  height: 25px;
}

.sort-label{
  text-transform: uppercase;
  color: #909090;
}

.player-sorters-wrapper{
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
}

.player-sorters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px 10px 100px;
}

.player-sorter-cont{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 200px;
  height: 100%;
}

.player-sorter-cont .sort-label{
  padding-right: 10px;
}

.player-sorter-asc{
  border-color: #000000 transparent;
  border-style: solid;
  border-width: 10px 6px 0px 6px;
  width: 0;
  height: 0;
  margin: 2px;
}

.player-sorter-desc{
  border-color: #000000 transparent;
  border-style: solid;
  border-width: 0px 6px 10px 6px;
  width: 0;
  height: 0;
  margin: 2px;
}

.player-sorter-inactive{
  border-color: #909090 transparent;
}

.player-sorter-desc:hover, .player-sorter-asc:hover{
  cursor: pointer;
  border-color: red transparent;
}

.player-sorter-inactive:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .player-sorter-cont{
    justify-content: center;
    min-width: 150px;
    padding: 10px;
  }
  .player-sorters{
    padding: 10px 10px 10px 60px;
  }
  .player-sorters-wrapper{
    width: 1100px;
  }
  .player-item .crest-wrapper{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .player-item{
    flex-flow: row nowrap;
  }
  .player-item p{
    min-width: 200px;
  }
  .player-list{
    width: 1100px;
  }
  .hero-players span{
    font-size: 18px;
  }
  .hero-players span:nth-of-type(2){
    font-size: 25px;
  }
  .top-menu{
    height: 50px;
    padding: 15px;
  }
  .top-menu span{
    font-size: 12px !important;
  }
  .sticky-container{
    overflow: auto;
  }
}
